<footer class="footer footer-center bg-base-100 text-base-content p-4">
  <aside class="container mx-auto flex flex-row flex-wrap">
    <span class="flex-1 text-left">With <strong>KayTrust</strong> have complete control of your information and decide who to share it with.</span>
    <div class="flex-1 flex flex-row gap-x-20 justify-end items-center">
      <img alt="Logo KayTrust" class="img-logo-kaytrust h-[35px]" src="/images/logo-kaytrust.png">
      <img alt="Logo NTT DATA" class="img-logo-kaytrust h-[15px]" src="/images/logo-ntt-data.svg">
    </div>
  </aside>
</footer>