<div class="flex flex-col justify-center h-full">
  <app-section-qr [qr_content]="mango_qr" 
    qr_title="Step 2"
    section_title="Do you want to apply for a job in one of the most important companies in the country?" 
    description="Start the selection process by sharing your digital study certificates from your KayTrust digital sovereign identity. <br /><br />Scan this QR code to share your study certificates and apply for the selection process."
    logo_url="/images/mango-corp-250h.png"
    is_reverse
    bg_class="bg-accent"
    [qr_width]="250"
    [logo_width]="130"
    qr_class="p-20"
  />
</div>