<div class="grid flex-1 h-full items-center justify-center">
  <div class="card glass w-96 bg-error text-error-content">
    <!-- <figure>
      <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="car!" />
    </figure> -->
    <div class="card-body">
      <h2 class="card-title">Error!</h2>
      <p>Your credential has an error.</p>
      <!-- <div class="card-actions justify-end">
        <button class="btn btn-primary">Learn now!</button>
      </div> -->
    </div>
  </div>
</div>