<div class="flex flex-col justify-center h-full">
  <app-section-qr [qr_content]="qr_content()" 
    qr_title="Step 1"
    section_title="Imagine that you have just finished an MBA with a specialization in Digital Transformation in your study center." 
    description="Scan this QR code to verify your digital identity and thus receive your Digital Professional Title validated by your study center directly in your KayTrust app."
    logo_url="/images/logo-acme-university.png"
    bg_class="bg-accent"
    [qr_width]="200"
    qr_class="p-20"
  />
</div>